---
layout: default
title: Home
---

{% if page.url == "/" %}


<div class="row justify-content-between">
    <div class="col-md-6 pb-4">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/5xbXqkkQknk"
        title="REMAKE.AI Explainer (subtitled)" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
        picture-in-picture; web-share" allowfullscreen>
    </iframe>
    </div>
    
    <div class="col-md-6 pb-4">
    {% include signup-form.html %}
    </div>
</div>
    

<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Featured</span></h2>
    </div>
    <div class="row">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">

        <h2><span>All Stories</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

