<a style="color: #3b5998;" href="{{ site.facebook_url }}" role="button"><i class="fab fa-facebook-f fa-lg"></i></a>
<a style="color: #55acee;" href="{{ site.twitter_url }}" role="button"><i class="fab fa-twitter fa-lg"></i></a>
<a style="color: #ac2bac;" href="{{ site.instagram_url }}" role="button"><i class="fab fa-instagram fa-lg"></i></a>
<a style="color: #ed302f" href="{{ site.youtube_url }}" role="button"><i class="fab fa-youtube fa-lg"></i></a>
<a style="color: #333333" href="{{ site.github_url }}" role="button"><i class="fab fa-github fa-lg"></i></a>
